# uv
.venv/
.python-version
uv.lock
.DS_Store

*/*.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution
dist/
build/
*.egg-info/

# Env
.env
*.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/